body{
    background-color:peachpuff; 
    color: grey;
}
.drinks{
   color:grey;
   font-family:monospace;
   font-size:20px;
   width: 200px;
   height: auto;
   display: block;
  display: flex;
  min-height: 700px;
  min-width: 1320px;
  flex-direction: column;
align-items: center;
}

.coffee{
    color:grey;
    font-family:monospace;
    font-size:20px;
    width: 200px;
    height: auto;
    display: block;
    display: flex;
    min-height: 700px;
    min-width: 1320px;
    flex-direction: column;
  align-items: center;
 }

.cap{
    margin-left: -40px;
}

.milk{
    margin-left:-59px;
   
}

 .food{
    color:grey;
    font-family:monospace;
    font-size:20px;
    width: 200px;
    height: auto;
    display: block;
    display: flex;
    min-height: 700px;
    min-width: 1320px;
    flex-direction: column;
  align-items: center;
 }
 

 p{
    color:grey;
    font-family:monospace;
    font-size:20px;


 }

 .end{
 text-align: center;
 color:grey;
font-family:monoscape;


margin-left: 250px;
 }

 .title{
    text-align: center;
}