body{
    background-color: peachpuff;
    
}

.master{
color:white;
  
display: flex;
justify-content: center;
justify-content: space-evenly;
gap:40px;
font-size: 20px;
margin-top: 50px;
   
}

.chef{
display: flex;
justify-content: center;
gap: 40px;
justify-content: space-evenly;

}
    .chef > img {
        width:150px;
        height:auto;
    }


h1{
    display: flex;
    justify-content: center;
}

p{
    font-weight: bold;
    text-align: center;
}

h3{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: grey;
    min-height: 100px;
    font-weight: bold;
}