body{
 background-color: peachpuff;
}

.title{
  color:black;  
  font-size:50px;
  font-family:monoscape;
background-image:url(https://tinyurl.com/38mmyery);
background-size: cover;
  background-position: center;
  padding-top: 0px;     
  padding-bottom: 20px;   
  border-radius: 20px;
  border:2px solid black;
  min-height: 400px;
  display: flex;
flex-direction: column;
justify-content: center; 
align-items: center; 
}

.list
 {
  text-align:center;
  color:white;
  font-size:30px;
  font-family:fantasy;

margin-right: 30px;
margin-left:30px;

}

.open{
  text-align:center;
  color:white;
  font-size:20px;
  font-family:monoscape;
}

.fancy{
  text-align:center;
  color:grey;
  
}